.idea/
misc/*
__pycache__
screenshots/*
!screenshots/.gitkeep
tests/screenshots/*
!tests/screenshots/.gitkeep
/reports/*
!/reports/.gitkeep
!/reports/archive/
/reports/archive/*
!/reports/archive/.gitkeep