customtkinter==5.2.2
pillow==10.4.0
numpy==1.26.4
matplotlib==3.9.2
scipy==1.14.1
psutil==6.1.1
pygame==2.5.2
GPUtil==1.4.0
pytest==8.3.4
pytest-html-reporter==0.2.9
PyGLM==2.7.1
ruff==0.9.5
PyOpenGL==3.1.9
bump2version==1.0.1